<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Cadastro de categorias</h2>
            </div>
            <div class="card-body">
                <form>
                    <input class="form-control mb-3" name="title" placeholder="Titulo categoria">
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>