<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">
        Blog Node
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
            </li>
        <% }) %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
        </li>
      </ul>
    </div>
</nav>