<html>
    <head>
        <meta charset="UTF-8">
        <title>Pagina não encontrada</title>
        <style>
            body {
                background-color: #D8D4D4;
                
            }

            div {
                height: 90vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
                font-family: cursive;
            }

            div h1 {
                margin-bottom: 0px;
            }
            
        </style>
    </head>
    <body>
        <div>
            <h1>404 NOT FOUND</h1>
            <p>Pagina não encontrada</h3>
        </div>
    </body>
</html>