<%- include("../../partials/header.ejs") %>
<body id="login">
<%- include("../../partials/navbar.ejs") %>
    <div class="container">
        
        <div class="card mt-5 card_login">
            <div class="card-header">
                <h3>Login de usuario</h3>
            </div>
            <div class="card-body">
                <form class="form_login" method="POST" action="/autenticate">
                    <% if (typeof error != 'undefined') { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <p>
                        <input type="email" class="form-control" name="email" placeholder="email@provedor.com.br">
                    </p>
                    <p>
                        <input type="password" class="form-control" name="password" placeholder="************">
                    </p>
                    <button type="submit" class="btn btn-success btn-block mb-3">Logar</button>
                    <a href="/admin/users/create">Cadastre-se</a>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>